.logo {
  height: 50px; /* Set the height you want */
  width: auto;  /* Maintain aspect ratio */
  margin-left: -60px;
}
#navigation {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-link{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.navbar .nav-link {
  position: relative;
}
#artix{
  color: rgb(254, 253, 252);
  font-family: 'Times New Roman', Times, serif;
  border-bottom: 2px solid orange;

}
.navbar .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: rgb(246, 242, 8);
  left: 0;
  bottom: -3px;
  transition: width 0.3s;
}

.navbar .nav-link:hover::after {
  width: 100%;
}
/* Navbar link hover effect */
.navbar .nav-link {
  transition: all 0.3s ease;
}

.navbar .nav-link:hover {
  color: orange;              /* text color on hover */ /* background highlight */
  border-radius: 5px;
}
.carousel-inner {
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Hide the overflowing parts */
}

.carousel-item img {
  width: 100%;
  height: 100vh; /* Full viewport height */
  object-fit: cover; /* Makes image cover the container and crop excess */
}







.about-parallax {
  width: 100%;
}

/* Parallax blocks */
.parallax-section {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Dark overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.overlay h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.overlay p {
  font-size: 1.2rem;
  max-width: 600px;
}

/* Background images */
.p1 { background-image: url("img1.avif"); }
.p2 { background-image: url("about1.jpg"); }
.p3 { background-image: url("about3.webp"); }
.p4 { background-image: url("about4.jpg"); }
.p5 { background-image: url("about5.jpg"); }

/* Mobile Fix */
@media (max-width: 768px) {
  .parallax-section {
    background-attachment: scroll;
  }

  .overlay h1 {
    font-size: 2rem;
  }
}

.about-text {
  text-align: justify;
  line-height: 1.8;
}


/* Hide when scrolling down */
.nav-hide {
  top: -100px;
  transition: top 0.3s;
}

/* Optional glass effect on scroll */
.nav-bg {
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);
}

